.comedyimg{
    width:170px;
    height:150px;
}

.comedyimg:hover{
    transform:scale(1.4);
    transition-property: transform;
    transition-duration: 1s;
}

.comedyall{
   display:flex;
   flex-direction: row;
   overflow: scroll;
}

.comedydiv{
    margin:7px;
}